.footer {
  background: var(--secondary-color-2, #16697a);
  padding-bottom: 37px;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  gap: 30px;
}
.footer-box {
  width: 388px;
  height: 170px;
}
.foot-box__heading {
  color: var(--light-text-color, #fff);
  font-family: var(--ic-fonts);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.foot-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.foot-link {
  color: var(--light-text-color, #fff);

  /* h6 */
  font-family: var(--ic-fonts);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  text-decoration: none;
}
.foot-link img {
  width: 24px;
  height: 24px;
}

.footer-box:nth-of-type(6) > .foot-link {
  font-size: 10px;
}

.sub-bottom {
  padding: 25px 320px;
}
.bottom-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-foot__paragriph {
  color: var(--second-text-color, #737373);
  font-family: var(--ic-fonts);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.socails {
  width: 236px;
}
.socail-link {
  text-decoration: none;
  margin-right: 20px;
}